@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "TheNightWatch";
  src: url("/fonts/TheNightWatch.ttf") format("truetype");
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-night: TheNightWatch, "sans-serif";
  --font-manrope: Manrope, "sans-serif";
}

html {
  scroll-behavior: smooth;
}
