@import url(https://db.onlinewebfonts.com/c/500bab6b91b58ed1e94efffe8092693c?family=Manrope);

@font-face {
  font-family: "TheNightWatch";
  src: url(./assets/TheNightWatch.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./assets/Manrope.ttf);
}

@import "tailwindcss";

@theme {
  --font-night: TheNightWatch, "sans-serif";
  --font-manrope: Manrope, "sans-serif";
}

html {
  scroll-behavior: smooth;
}
